<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvuUXNdMoixM14kpzuSs9WEGWz1J8wlrE</string>
	<key>GCM_SENDER_ID</key>
	<string>395937864374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.edu.srmist.Changedsocialmedia</string>
	<key>PROJECT_ID</key>
	<string>backend2-2bec5</string>
	<key>STORAGE_BUCKET</key>
	<string>backend2-2bec5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395937864374:ios:5765027ef58ef36295a417</string>
</dict>
</plist>