<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFileProviderPresenceUsageDescription</key>
	<string>YES</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>YES</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>YES</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>YES</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>YES</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>YES</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Whisper-Regular.ttf</string>
		<string>Condiment-Regular.ttf</string>
		<string>HoltwoodOneSC-Regular.ttf</string>
		<string>SFPRODISPLAYBOLD.OTF</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
