<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATTLMMq9ROarYMDPCtrQcwD7gYI-znSww</string>
	<key>GCM_SENDER_ID</key>
	<string>338837565020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.edu.srmist.Changedsocialmedia</string>
	<key>PROJECT_ID</key>
	<string>backend4-8f418</string>
	<key>STORAGE_BUCKET</key>
	<string>backend4-8f418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338837565020:ios:d7f8864b69a67cd6188099</string>
</dict>
</plist>